body {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(75deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 1000px;
    font-family: 'Archivo Black', sans-serif;    
}


/* NavBar */
a{
    display:block;
    padding:5px 0
}

.nav-custom{
    padding: 2% 7%
}
.nav-user-custom{
    height:2rem;
    width: 5rem;
    text-align: center;
}

.nav-signup-custom{
    height: 2rem;
    width:6rem;
    text-align: center;
}

.nav-link:hover{
    border-bottom: 3px solid #72147e;
    font-size: 1.1rem;
    color: #A683E3;
}

/* Home Page */
.home-container{
    padding: 2% 7%;
}
.img-custom{
    width: 100%
}

.title-custom{
    padding: 5%;
    font-size: 3.5rem;
    text-align: center;
    font-family: 'Satisfy', cursive;
    line-height: 1.8;
}

.jumbotron-home {
    margin: 6% 12px;
}

.jumbotron-home > p {
    line-height: 2;
    font-size: 1.3rem;
    font-weight: 100;
    font-family: sans-serif;

}

.jumbotron-home > p >  a{
    display: inline-block
}
/* List of Users Page */
.profileContainer{
    text-align: center;
    margin: 3% auto;

}
.profileImage{
    width: 50%;
    border-radius: 50%;
    margin: 0% 0 5%
}

.see-more-btn{
    background-color:#72147e;
    color: white
}

.see-more-btn:hover{
    color: white;
    background-color:#bb8cbd;
}

.userImage{
    width: 85%;
    height: 200px;
    object-fit: cover;
    margin: 4% 0 4%
}

/* Loading Indicator */
.loading-container{
    text-align: center;
    padding: 10% 0
}

/* Individual user Container */
.user-container{
    padding: 1% 7%;
    text-align: center;
    margin: auto
}

.user-image-container, .user-name-container, .upload-image-container{
    width: 500px;
    text-align: center;
    margin: 2% auto;
}


.all-images{
    height: 250px;
    width: 85%;
    object-fit: cover;
    margin: 5% 5%
}

/* Sign up and login form */
.modal-container{
    text-align: center;
}

Label, .sign-up-button, .login-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* My profile */
.my-profileImage{
    width: 35%;
    border-radius: 50%;
    margin: 2%
}

.my-images-container{
    background-color: #393e46;
    color: white;
    margin: 0% 32%;
    border-radius: 5px;
}

.profile-image-container{
    background-color: #393e46;
    color: white;
    margin: 0% 35%;
    border-radius: 5px;
    text-align: center;
}

.display-profile-image-container{
    margin: 5% 30%;
    text-align: center;
}

.profile-image-check{
    width: 100%;
}

.bottom-images-container{
    margin-top: 5%;
}

/* Results container */

.no-result-container{
    text-align: center;
    margin: 3% auto;
}

.oops-image{
    width: 30%;
    border-radius: 55%;
    margin-bottom: 3rem;
}

.card{
    text-align: center;
    border-radius: 8%;
}

.card-image{
    height: 250px;
    width: 100%;
    border-radius: 10%;
    object-fit: cover
}

.card-container{
    margin: 3% 3%;
}

.result-container{
    padding: 0 4%   
}

